* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 20px;
  margin: 100px auto;
}

.review-color {
  background-color: white;
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 8px;
}
